<div class="wrapper">
  <h1 class="title">Password Generator</h1>

  <div class="password-div">
    <input [(ngModel)]="password" type="text" readonly class="password" />
    <mat-icon [cdkCopyToClipboard]="password">file_copy</mat-icon>
  </div>

  <div class="pass-options">
    <div class="char-length">
      <span>Character Length</span>
      <span class="char">{{ charLength }}</span>
    </div>

    <mat-slider
      min="6"
      max="25"
      step="1"
      value="6"
      (change)="characterValue($event)"
    >
      <input matSliderThumb />
    </mat-slider>

    <div class="checkboxes">
      <div class="checkbox-input">
        <label class="container"
          >Include Uppercase Letters
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="uppercase"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Lowercase Letters
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="lowercase"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Numbers
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="numbers"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Symbols
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="symbols"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="pass-strength">
      <span>STRENGTH</span>
      <div class="pass-strength-columns">
        <div
          class="column"
          [ngClass]="{
            red: passStrength == 1,
            yellow: passStrength == 2,
            orange: passStrength == 3,
            green: passStrength == 4
          }"
        ></div>
        <div
          class="column"
          [ngClass]="{
            yellow: passStrength == 2,
            orange: passStrength == 3,
            green: passStrength == 4
          }"
        ></div>
        <div
          class="column"
          [ngClass]="{
            orange: passStrength == 3,
            green: passStrength == 4
          }"
        ></div>
        <div
          class="column"
          [ngClass]="{
            green: passStrength == 4
          }"
        ></div>
      </div>
    </div>

    <button
      [disabled]="
        !uppercaseChecked &&
        !lowercaseChecked &&
        !numbersChecked &&
        !symbolsChecked
      "
      (click)="generatePassword(charLength)"
    >
      Generate
    </button>
  </div>
</div>
